@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    font-family: montserrat;
    
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7%;
    background-color: rgb(19, 23, 214);
    color: white;
}

.buttons {
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
}

button {
    
    padding: 30px;
    border-radius: 20%;
}

#rfinal {
    background-color: white;
    color: blue;
    border-radius: 10px;
    margin: 15px;

}
#combate {
    background-color: white;
    color: blue;
    border-radius: 10px;
}