@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: montserrat;
    background-color: rgb(255, 255, 255);
    
}
body {
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 100vh;
}

img {
    margin: 15px;
    cursor: pointer;
}

button:hover {
    border: 5px solid white;
}

@media screen and (max-width: 500px) {
    button {
        margin: 5px;
    }
}

#rfinal {
    color: white;
    border-radius: 10px;
    margin: 15px;;
    text-align: center;

}
#combate {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    text-align: center;
}

#startOver {
    display: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1.2em;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}

#startOver:hover{
    background-color: white;
    color: black;
    border: 3px solid rgb(0, 0, 0);
}

#selecciones {
    text-align: center;
}
#b1{
background-color: gray;
color: white;
width: 120px;
height: auto;
}

#b2{
background-color: yellow;
width: 120px;
}

#b3{
background-color: brown;
color: white;
width: 60px;
height: auto;
}