@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: montserrat;
    background-color: rgb(255, 255, 255);
    

}

body {
    width: 100%;
    height: 100vh;
    animation: fadeInAnimation ease 2.5s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

main {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3%;
    color: rgb(0, 0, 0);
    height: 100vh;
    flex-wrap: nowrap;
}

img {
    margin: 10px;
    cursor: pointer;
}

button:hover {
    border: 5px solid white;
}



#rfinal {
    color: white;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
}

#combate {
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

#startOver {
    display: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1.2em;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}

#startOver:hover {
    background-color: white;
    color: black;
    border: 3px solid rgb(0, 0, 0);
}

#selecciones {
    text-align: center;
}

.buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3%;
}

#b1 {
    width: 80px;
    height: auto;
    animation: rotate-center 7s ease-in-out infinite both;
}

#b1:hover{
    animation: none;
}

#b2 {
    width: 80px;
    animation: rotate-center 7s ease-in-out infinite both;
}

#b2:hover {
    animation: none;
}

#b3 {
    width: 50px;
    height: auto;
    animation: rotate-center 5s ease-in-out infinite both;
}

#b3:hover {
    background-color: black;
    -webkit-animation: rotate-center 1s ease-in-out infinite both;
    animation: none;

}

#scorePlayer {
    font-size: 1.2em;
}

#scoreComputer {
    font-size: 1.2em;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


 @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: rgb(0, 0, 0);
    gap: 3vh;
    padding: 30px;
  }

  footer h3 {
    font-size: 2.6em;
    color: #ffffff;
    /* animation: mymove2 5s infinite; */
  }
  
  /* 
  @keyframes mymove2 {
    50% {
      color: white;
    }
  } */
  
  #icons a {
    color: rgb(0, 0, 0);
  }
  
  #icons a:hover {
    color: rgb(0, 0, 0);
  }
  
  #contacto p {
    font-size: 1.8em;
  }
  
  #icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-items: center;
    margin: 5px;
    /* -webkit-animation: shake-right 4s ease-out 1s infinite both;
    animation: shake-right 4s ease-out 1s infinite both; */
  }
  
  @-webkit-keyframes shake-right {
  
    0%,
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform-origin: 100% 50%;
      transform-origin: 100% 50%;
    }
  
    10% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
    }
  
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
      transform: rotate(-4deg);
    }
  
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
      transform: rotate(4deg);
    }
  
    80% {
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
    }
  
    90% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
    }
  }
  
  .logo-title {
    text-align: center;
    color: black;
    font-size: 2em;
    padding: 20px;
    height: 10vh;
  }
  
  .logos {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10%;
    padding: 10px;
    height: 60vh;
  }
  
  .l img {
    width: 120px;
    margin: 10px;
  }
  
  .l-n img {
    width: 90px;
    border-radius: 50%;
  }
  
  .logos img:hover {
    animation: rotate-center 0.6s ease-in-out both;
  }
  
  @keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }